<div class="block">
  <h2>Set password</h2>
  <div class="block-content">
    <form action="/users/change_password" method="post">
      <table>
        <tr>
          <td>Current password:</td>
          <td><input type="password" class="full_width_textbox" name="current_password" <% if @current_password != nil %>value="<%= @current_password %>"><% end %></td>
        </tr>
        <tr>
          <td>New password:</td>
          <td><input type="password" class="full_width_textbox" name="password"></td>
        </tr>
        <tr>
          <td>Retype New Password:</td>
          <td><input type="password" class="full_width_textbox" name="retype_password"></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Change" style="float: right;"></td>
        </tr>
      </table>
    </form>
  </div>
</div>

