<div class="block">
  <h2>Torrent Status</h2>
  <div class="block-content">
    <%= erb :current_torrents %>
    <input type="text" class="full_width_textbox" placeholder="Magnet Link" id="torrent_url"></input><div class="button-row"><a href="#" class="button" onclick="add_torrent(); return false;">Add</a></div>
  </div>
</div>

<!--div class="block">
  <h2>New Content</h2>
  <div class="block-content">
    <table>
      <tr class="header">
        <th>Name</th>
        <th>Type</th>
      </tr>
      <tr class="even">
        <td style="width: 100%">Skyrim</td>
        <td>Game</td>
      </tr>
      <tr class="odd">
        <td style="width: 100%">Nightwish - Wishmaster</td>
        <td>Music</td>
      </tr>
    </table>
  </div>
</div-->

<div class="block">
  <h2>Feature Requests</h2>
  <div id="feature_requests" class="block-content">
    <%= erb :feature_requests %>
  </div>
</div>

