<div class="block">
  <h2>Torrent Status</h2>
  <div class="block-content">
    <table>
      <tr class="even">
        <td style="width: 100%">Source Code</td>
        <td><div class="meter"><span style="width: 47%;"></span></div></td>
        <td>47%</td>
      </tr>
      <tr class="odd">
        <td style="width: 100%">Sons of Anarchy - Season 4</td>
        <td><div class="meter"><span style="width: 10%;"></span></div></td>
        <td>10%</td>
      </tr>
      <tr class="even">
        <td style="width: 100%">Sucker Punch</td>
        <td><div class="meter"><span style="width: 90%;"></span></div></td>
        <td>90%</td>
      </tr>
    </table>
    
    <div class="button-row"><a href="#" class="button">Add</a></div>
  </div>
</div>

<div class="block">
  <h2>New Content</h2>
  <div class="block-content">
    <table>
      <tr class="header">
        <th>Name</th>
        <th>Type</th>
      </tr>
      <tr class="even">
        <td style="width: 100%">Skyrim</td>
        <td>Game</td>
      </tr>
      <tr class="odd">
        <td style="width: 100%">Nightwish - Wishmaster</td>
        <td>Music</td>
      </tr>
    </table>
  </div>
</div>
