<div class="block">
  <h2>Torrent Status</h2>
  <div id="current_torrents" class="block-content">
    <%= erb :current_torrents %>
  </div>
</div>

<!--div class="block">
  <h2>New Content</h2>
  <div class="block-content">
    <table>
      <tr class="header">
        <th>Name</th>
        <th>Type</th>
      </tr>
      <tr class="even">
        <td style="width: 100%">Skyrim</td>
        <td>Game</td>
      </tr>
      <tr class="odd">
        <td style="width: 100%">Nightwish - Wishmaster</td>
        <td>Music</td>
      </tr>
    </table>
  </div>
</div-->

<div class="block">
  <h2>Feature Requests</h2>
  <div id="feature_requests" class="block-content">
    <%= erb :feature_requests %>
  </div>
</div>

<script type="text/javascript">
  windowHasFocus = true;

  $(window).blur(function(){
    windowHasFocus = false;
  });
  $(window).focus(function(){
    windowHasFocus = true;
    refreshTorrentList();
  });
  
  function refreshTorrentList() {
    if(windowHasFocus) {
      $.ajax({
        type: "GET",
        url: '/torrents/current',
        success: function(result) {
          $('#current_torrents')[0].innerHTML = result;
          setTimeout("refreshTorrentList()", 5000);
        }
      });
    }
  }
  
  setTimeout("refreshTorrentList()", 5000);
</script>

