<div class="block">
  <h2>Login</h2>
  <div class="block-content">
    <center><img src="/logo.png"><br>seedbox.net.nz is a private seedbox for those concerned about protecting their privacy while downloading legal content.<br><br></center>
    <form action="/user/login" method="post">
      <table>
        <tr>
          <td>Email:</td>
          <td><input type="text" class="full_width_textbox" name="email"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" class="full_width_textbox" name="password"></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Login" style="float: right;"></td>
        </tr>
      </table>
    </form>
  </div>
</div>
